<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>It is me</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}"/>
</head>
<body>
    <div class="inform">
        <div class="photo">
            <img class="pic" th:src="@{/images/me.png}"/>
        </div>
        <div>
            <div class="inform_t">
                <p>Дмитриев Антон</p>
            </div>
            <div class="inform_t">
                <p>ИП-213</p>
            </div>
        </div>
    </div>
</body>
</html>